---
interface Props {
  href: string;
  label: string;
  className?: string;
}
const { href, label, className = "button" } = Astro.props;
---

<a class={className} href={href} target="_blank" rel="noreferrer">{label} ↗</a>
